*{
  box-sizing: border-box;
}
body{
  background-color: #111111;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-align: center;
}
/* HEADING'S */
h1,h2,h3,h4{
  font-family: 'Montserrat', sans-serif;

}
h1{
  font-size: 2.5em;
  color: #ff6600;
}
h2{
  font-size: 2em;
  color: #ff6600;
}
h3{
  font-size: 1.75em;
}
h4{
  font-size: 1.5em;
}
p{
  font-size: 1.25em;
}
b{
  font-weight: 500;
}
/* HEADER */
header{
  background-color: #222222;
  height: 75px;
  line-height: 75px;
}

header a{
  display: inline-block;
  width: 25%;
  font-size: 1.5em;
  text-decoration: none;
  color: #fff;
}

header a:hover{
  background-color: #fff;
  color: #222222;
  transition: ease-in 250ms;
}


/* MAIN */
main{
  margin: auto;
  width: 80%;
}
/* FOOTER */
footer{
  background-color: #222222;
  color: #555555;
  height: 75px;
  line-height: 75px;
}

footer a{
  color: #fff;
  text-decoration: none;
}
footer a:hover{
  color: #ff6600;
}