/* HERO */
.hero{
  background: url('../images/sean.jpeg') no-repeat center center fixed;
  background-size: cover;
  color: #ff6600;
  filter: opacity(.50);
  height: 75vh;
  line-height: 75vh;
}

/* ABOUT ME */
.card{
  background-color: #222222;
  border-radius: 1em;
  padding: 2em;
  margin: 1em;
}
.card h1,.card h3{
  margin-bottom: .5em;
}
.card p {
  line-height: 1.25em;
  margin: auto;
}
.social{
  margin: 1em auto ;
}
.social-link{
  color: #fff;
}
.social-link:hover{
  color: #ff6600;
  transition: ease-in 250ms;
}
/* PROJECTS */

.card img{
  margin: 1em;
  width: 90%;
  border: 2px solid #000;
  border-radius: 1em;
}
.projectCard{
  background-color: #222222;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
}
.cardImg{
  width: 75%;
  border-radius: .75em;
}
.cardImg:hover{
  border: 2px solid #fff;
  transition: ease-in 250ms;
}
.projectCard p{
  margin: auto;
}
/* SKILLS */
.skillCard{
  background-color: #222222;
  padding: 1em;
  border-radius: 1em;
  text-align: center;
  width: 25%;
  margin: 1em;
}
.bar{
  margin: 1em auto;
  height: 25px;
  background-color: #555555;
  border-radius: 2px;
}
.skill{
  height: 25px;
  color: #222222;
  border-radius: 2px;
  line-height: 25px;
  text-align: end;
  box-sizing: border-box;
  padding: 0 5px;
}
#HTML{
  background-color: #E44D26;
}
#CSS{
  background-color: #2196F3;;
}
#JavaScript{
  background-color: #f0db4f;
}
#React{
  background-color: #61dbfb;
}
#Bootstrap{
  background-color: #563d7c;
  color: #ffffff;
}
#jQuery{
  background-color: #0868AC;
}
#Node{
  background-color: #6cc24a;
}
#SQL{
  background-color: #0064a5;
}
#MongoDB{
  background-color: #4DB33D;
}
#Security{
  background-color: #ff6600;
}
/* EMAIL */
.email{
  background-color: #fff;
  border-radius: .5em;
  color: #222222;
  font-size: 1.5em;
  text-decoration: none;
  padding: .50em 2em;
}
.email:hover{
  background-color: #ff6600;
  color: #222222;
  transition: ease-in 250ms;
}